.Projects {
    min-height: calc(100vh - 124px - 99px);
    .more-projects-container {
        padding: 0 8%;
        margin: 64px 0;
        span {
            cursor: pointer;
        }
    }
}


.separator {
    width: 100%;
    margin-top: 128px;
    content: "";
    clear: both;
}