@import '../../styles/_base';
.Project {
    padding: 0 8%;
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 84px);
    .project-title {
        width: 100%;
        h2 {
            font-weight: 100;
            font-style: italic;
        }
    }
    .img-container {
        width: 70%;
        height: 100%;
        margin-top: 32px;
        overflow: hidden;
        -moz-box-shadow: 10px 10px 40px -20px #656565;
        -webkit-box-shadow: 10px 10px 40px -20px #656565;
        -o-box-shadow: 10px 10px 40px -20px #656565;
        box-shadow: 10px 10px 40px -20px #656565;
        filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=40);
        img {
            width: 100%;
        }
    }
    .content {
        width: 100%;
        margin-top: 32px;
        .button-container {
            margin-top: 32px;
            display: flex;
            button {
                margin: 0 5px;
                background-color: $dark-purple;
                @include transition-background-color(0.3s);
            }
            button:hover {
                background-color: lighten($dark-purple, 10%);
                @include transition-background-color(0.3s);
            }
        }
    }
    .ProjectNav {
        margin-top: 32px;
    }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .Project {
        .img-container {
            width: 100%;
            margin-top: 32px;
        }
        .content {
            width: 100%;
            margin-top: 32px;
            .button-container {
                flex-direction: column;
                a {
                    margin: 1vh 0;
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .Project {
        .img-container {
            width: 100%;
            margin-top: 32px;
        }
        .content {
            width: 100%;
            margin-top: 32px;
            .button-container {
                a {
                    width: auto;
                    margin: 0 0;
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .Project {
        .img-container {
            width: 100%;
            margin-top: 32px;
        }
        .content {
            width: 100%;
            margin-top: 32px;
            .button-container {
                a {
                    width: auto;
                    margin: 0 0;
                }
            }
        }
    }
}