@import '_variables';
@import '_mixins';

body {
    //background-color: $color-primary;
    background-color: #000;
    color: $color-primary-contrast;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
a {
    color: $color-secondary-contrast;
    &:focus {
        outline: 0;
    }
}

a:hover {
    color: $color-secondary;
}
.strong {
    font-weight: bold;
}

ul {
    padding: 0;
    li {
        list-style-type: none;
    }
}