@import '_variables';
@import '_mixins';

body {
    background-color: $color-primary;
    color: $color-primary-contrast;
}
a {
    color: $color-secondary-contrast;
    &:focus {
        outline: 0;
    }
}

a:hover {
    color: $color-secondary;
}
.strong {
    font-weight: bold;
}

ul {
    padding: 0;
    li {
        list-style-type: none;
    }
}