@mixin purple-gradient-text() {
    background: -webkit-linear-gradient($color-secondary, $color-secondary-contrast);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin purple-gradient-background() {
    background: -webkit-linear-gradient($color-secondary, $color-secondary-contrast);
}

@mixin transition-background-color($time) {
    transition: background-color $time;
}