.About {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 84px);
    .img-container {
        width: 40%;
        max-width: 40%;
        padding: 0 5%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        justify-items: center;
        position: relative;
        img {
            position: absolute;
            width: 100%;
        }

    }
    .presentation-content-container {
        max-width: 40%;
        width: 40%;
        padding: 0px 5%;
        .resume {
            margin-top:20px;
            width: 100%;
        }
    }
    .skills-content-container, .interests-content-container {
        width: 100%;
        margin-top: 35px;
    }
}