.About {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15%;
    position: relative;
    .separator {
        width: 100%;
        margin-top: 128px;
        content: "";
        clear: both;
    }
    .about-me-short-description {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin-top: 64px 0;
    }
    .about-me-container {
        .about-me-title {
            font-size: 1.5rem;
        }
        .about-me-content {
            display: flex;
            margin-top: 24px;
            .about-me-long-description {
                margin: 0;
                font-size: 1.2rem;
                width: 60%;
            }
        }
    }

    .aptitudes-container {
        text-align: right;
        width: 100%;
        .aptitudes-title {
            font-size: 1.5rem;
        }
        .aptitudes-content {
            margin: 16px 0;
            .aptitudes-table-indexes {
                display: flex;
                justify-content: flex-end;
                margin-top: 24px;
                ul {
                    display: flex;
                    margin: 0;
                    li {
                        &:not(:last-child) {
                            margin: 0 8px;
                        }
                        &:last-child {
                            margin-left: 8px;
                        }
                        font-size: 1.5rem;
                        white-space: nowrap;
                        transition: all ease-in-out 0.25s;
                        &:hover {
                            cursor: pointer;
                            color: #aaaaaa;
                            transition: all ease-in-out 0.25s;
                        }
                        &.active {
                            color: #00b2b2;
                            font-weight: bold;
                        }
                    }
                }
            }
            .aptitudes-table-content {
                margin-top: 24px;
                display: flex;
                justify-content: flex-end;
                .aptitudes-table-content-description {
                    font-size: 1.2rem;
                    max-width: 60%;
                    margin: 0;
                }
            }
        }
    }
}
