.About {
    position: relative;
    .separator {
        width: 100%;
        margin-top: 128px;
        content: "";
        clear: both;
    }
    .about-me-main {
        position: relative;
        display: flex;
        height: calc(100vh - 124px);
        padding: 0 15%;
        flex-wrap: wrap;
        .particles-container {
            width: 100%;
            height: calc(100% + 84px);
            position: absolute;
            left: 0;
            top: -84px;
        }
        .main-content {
            .presentation-caption {
                font-size: 3rem;
                width: 75%;
                margin-top: 256px;
                position: relative;
                z-index: 999;
            }
            .scrolldown-action {
                margin-top: 24px;
                cursor: pointer;
                position: relative;
                z-index: 999;
            }
        }
    }
    .about-me-short-description {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin-top: 64px 0;
    }

    .about-me-container {
        display: flex;
        align-items: center;
        height: 50vh;
        .about-me-text {
            width: 50%;
            padding-left: 8%;
            padding-right: 2%;
            margin: 16px 0;
            .about-me-title {
                font-size: 1.5rem;
            }
            .about-me-description {
                display: flex;
                margin-top: 24px;
                margin: 0;
                font-size: 1.2rem;
            }
        }
        .about-me-image-container {
            width: 40%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }
    }

    .aptitudes-container {
        text-align: right;
        display: flex;
        align-items: center;
        height: 50vh;
        .aptitudes-text {
            width: 50%;
            padding-left: 8%;
            padding-left: 2%;
            margin: 16px 0;
            .aptitudes-title {
                font-size: 1.5rem;
            }
            .aptitudes-content {
                margin: 16px 0;
                .aptitudes-table-indexes {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 24px;
                    ul {
                        display: flex;
                        margin: 0;
                        li {
                            &:not(:last-child) {
                                margin: 0 8px;
                            }
                            &:last-child {
                                margin-left: 8px;
                            }
                            font-size: 1.5rem;
                            white-space: nowrap;
                            transition: all ease-in-out 0.25s;
                            &:hover {
                                cursor: pointer;
                                color: #aaaaaa;
                                transition: all ease-in-out 0.25s;
                            }
                            &.active {
                                color: #777777;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .aptitudes-table-content {
                    margin-top: 24px;
                    display: flex;
                    justify-content: flex-end;
                    position: relative;
                    .aptitudes-table-content-description {
                        font-size: 1.2rem;
                        position: absolute;
                        display: none;
                        &.active {
                            display: block;
                        }
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .aptitudes-image-container {
            width: 40%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }
    }

    .about-me-contact {
        padding: 0 8%;
    }
}

.strike {
    text-decoration: line-through;
}

.clear {
    width: 100%;
    clear: both;
}
