@import '../../styles/_base';

.SkillBar {
    margin-top: 2vh;

    .jauge-border {
        border-style: solid;
        border-width: 0.5px;
        border-radius: 3px;
        border-color: $dark-purple;
        height: 20px;
        margin-top: 1vh;
        background-color: lighten($dark-purple, 50%);
        position: relative;
        background-blend-mode: difference;

        .jauge-value {
            border-radius: 1px;
            position: absolute;
            height: 100%;
            background-color: $dark-purple;
        }

        span {
            position: absolute;
            color: #fff;
            visibility: hidden;
            z-index: 9999;
            font-weight: bold;
        }

        &:after {
            position: absolute;
            opacity: 0;
            content: " ";
            background-color: black;
            width: 100%;
            height: 100%;
            transition: opacity 0.4s;
        }

        &:hover {
            span {
                visibility: visible;
            }
            &:after {
                opacity: 0.3;
                transition: opacity 0.4s;
            }
        }

    }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .SkillBar {
        width: 90%;
        padding-right: 10%;

        .jauge-border {
            width: 100%;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .SkillBar {
        width: 90%;
        padding-right: 10%;

        .jauge-border {
            width: 100%;

            .jauge-value {}
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .SkillBar {
        width: 45%;
        padding-right: 5%;

        .jauge-border {
            width: 100%;

            .jauge-value {}
        }
    }
}